<!--
  Used for visualising rplidar in action.  
  
  It requires rplidar.launch.
 -->
<launch>

  <node pkg="laser" type="voxel1" name="voxel" output="screen"/>

  <!--node pkg="rosbag" type="record" name="record" output="screen" args="-O $(find laser)/data.bag /scan /tf /steps"/-->

  <!--include file="$(find rplidar_ros)/launch/rplidar.launch" /-->
  
  <!--node pkg="rplidar_ros" type="stepper_motor_test_new.py" name="stepper_motor" output="screen"/-->

  <!--node pkg="rplidar_ros" type="tf_test.py" name="tf_laser" output="screen"/-->
  
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" /-->
</launch>
